In [1]:
import time 

from IPython.core.display import display
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')
import numpy as np
import seaborn as sns
sns.set(font='Osaka')
import pandas as pd

In [2]:
t0 = time.time()
data_dir = '../data/'
file = 'df_sales.csv'
df_sales = pd.read_csv(data_dir + file)
print('Load in ', time.time() - t0)

Load in  0.9156570434570312

/Users/fujiki/anaconda3/envs/DataScience/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_sales.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Sales
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [19]:
# Netherlands
# 各 Customer　の売上構成比
country = 'Netherlands'

df_sales_by_country_customer = pd.DataFrame(df_sales.groupby(['Country', 'CustomerID'])['Sales'].sum()).reset_index()
df_the_country = df_sales_by_country_customer[df_sales_by_country_customer['Country'] == country]
df_the_country['Sales_%'] = \
(df_the_country['Sales'] / df_the_country['Sales'].sum()) * 100
df_the_country = df_the_country.sort_values('CustomerID')

# 各 Customer のトランザクション数とその構成比
country = 'Netherlands'

df_transactions_country_customer = \
    pd.DataFrame(df_sales.groupby(['Country', 'CustomerID']).size().reset_index())

df_the_country['Transaction'] = \
df_transactions_country_customer[df_transactions_country_customer['Country'] == country]\
.sort_values('CustomerID').rename(columns={0: 'Transaction'})['Transaction']
df_the_country['Sales/Transaction'] = \
df_the_country['Sales'] / df_the_country['Transaction']

df_the_country.sort_values('Sales', ascending=False)

/Users/fujiki/anaconda3/envs/DataScience/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Country,CustomerID,Sales,Sales_%,Transaction,Sales/Transaction
318,Netherlands,14646.0,280206.02,98.164166,2076,134.973998
310,Netherlands,12759.0,1531.44,0.536507,95,16.120421
311,Netherlands,12775.0,1386.04,0.485569,66,21.000606
312,Netherlands,12778.0,822.23,0.288051,50,16.444600
313,Netherlands,12787.0,463.66,0.162433,20,23.183000
317,Netherlands,12802.0,427.58,0.149793,25,17.103200
315,Netherlands,12790.0,324.92,0.113829,21,15.472381
316,Netherlands,12791.0,192.60,0.067473,2,96.300000
314,Netherlands,12789.0,91.85,0.032178,4,22.962500

In [24]:
# Singapore
# 各 Customer　の売上構成比
country = 'Singapore'

df_sales_by_country_customer = pd.DataFrame(df_sales.groupby(['Country', 'CustomerID'])['Sales'].sum()).reset_index()
df_the_country = df_sales_by_country_customer[df_sales_by_country_customer['Country'] == country]
df_the_country['Sales_%'] = \
(df_the_country['Sales'] / df_the_country['Sales'].sum()) * 100
df_the_country = df_the_country.sort_values('CustomerID')

# 各 Customer のトランザクション数とその構成比
df_transactions_country_customer = \
    pd.DataFrame(df_sales.groupby(['Country', 'CustomerID']).size().reset_index())

df_the_country['Transaction'] = \
df_transactions_country_customer[df_transactions_country_customer['Country'] == country]\
.sort_values('CustomerID').rename(columns={0: 'Transaction'})['Transaction']
df_the_country['Sales/Transaction'] = \
df_the_country['Sales'] / df_the_country['Transaction']

df_the_country.sort_values('Sales', ascending=False)

/Users/fujiki/anaconda3/envs/DataScience/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

       Country  CustomerID     Sales  Sales_%  Transaction  Sales/Transaction
356  Singapore     12744.0  21279.29    100.0          222          95.852658

In [29]:
def make_df_the_country(df_sales, country):
    # 各 Customer　の売上構成比
    df_sales_by_country_customer = pd.DataFrame(df_sales.groupby(['Country', 'CustomerID'])['Sales'].sum()).reset_index()
    df_the_country = df_sales_by_country_customer[df_sales_by_country_customer['Country'] == country]
    df_the_country['Sales_%'] = \
    (df_the_country['Sales'] / df_the_country['Sales'].sum()) * 100
    df_the_country = df_the_country.sort_values('CustomerID')

    # 各 Customer のトランザクション数とその構成比
    df_transactions_country_customer = \
        pd.DataFrame(df_sales.groupby(['Country', 'CustomerID']).size().reset_index())

    df_the_country['Transaction'] = \
    df_transactions_country_customer[df_transactions_country_customer['Country'] == country]\
    .sort_values('CustomerID').rename(columns={0: 'Transaction'})['Transaction']
    df_the_country['Sales/Transaction'] = \
    df_the_country['Sales'] / df_the_country['Transaction']

    return df_the_country

country = 'Australia'
df_the_country = make_df_the_country(df_sales, country)
df_the_country.sort_values('Sales', ascending=False)

/Users/fujiki/anaconda3/envs/DataScience/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     Country  CustomerID      Sales    Sales_%  Transaction  Sales/Transaction
3  Australia     12415.0  124914.53  90.177121          714         174.950322
6  Australia     12431.0    5514.67   3.981099          181          30.467790
1  Australia     12388.0    2780.66   2.007388          100          27.806600
5  Australia     12424.0    1760.96   1.271256           30          58.698667
2  Australia     12393.0    1582.60   1.142496           64          24.728125
7  Australia     12434.0     806.14   0.581961           50          16.122800
0  Australia     12386.0     401.90   0.290136           10          40.190000
4  Australia     12422.0     386.20   0.278802           21          18.390476
8  Australia     16321.0     373.65   0.269742           12          31.137500

In [30]:
# NOTE:
# Japan は 売上1位が Sales/Transaction も1位であるわけではない。

country = 'Japan'
make_df_the_country(df_sales, country).sort_values('Sales', ascending=False)

/Users/fujiki/anaconda3/envs/DataScience/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    Country  CustomerID     Sales    Sales_%  Transaction  Sales/Transaction
298   Japan     12753.0  21429.39  57.272766          197         108.778629
304   Japan     12798.0   6977.04  18.647025            8         872.130000
300   Japan     12755.0   3811.95  10.187920            4         952.987500
299   Japan     12754.0   3010.74   8.046585           63          47.789524
303   Japan     12770.0   1351.45   3.611922           12         112.620833
302   Japan     12763.0    494.08   1.320492           18          27.448889
305   Japan     12812.0    229.64   0.613742           15          15.309333
301   Japan     12756.0    112.08   0.299548            4          28.020000

In [31]:
country = 'Sweden'
make_df_the_country(df_sales, country).sort_values('Sales', ascending=False)

/Users/fujiki/anaconda3/envs/DataScience/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    Country  CustomerID     Sales    Sales_%  Transaction  Sales/Transaction
394  Sweden     17404.0  31906.82  83.137594          198         161.145556
387  Sweden     12483.0   2484.98   6.474956           75          33.133067
391  Sweden     12676.0   1331.39   3.469119           45          29.586444
392  Sweden     12697.0    957.59   2.495132           41          23.355854
388  Sweden     12638.0    671.69   1.750180           39          17.222821
389  Sweden     12639.0    486.10   1.266600           22          22.095455
393  Sweden     12715.0    353.86   0.922031           21          16.850476
390  Sweden     12641.0    185.90   0.484388           10          18.590000